@charset "utf-8";

/* html {scroll-behavior: smooth;} */

body {font-family: 'NanumBarunGothic', sans-serif; position: relative;}

header {width: 1100px; height: 100px; position: fixed; top: 50px; left: 50%; transform: translateX(-50%); z-index: 777;}

header h1 {width: 180px; height: 80px; position: absolute; top: 7px; left: 50%; transform:translateX(-50%);}

header ul.gnb {display: flex; justify-content: center;}
header ul.gnb li { font-size: 25px; height: 100px; line-height: 100px; }
header ul.gnb li:nth-child(2) {margin-right: 200px;}
header ul.gnb li a {color:#fff; padding: 0 50px;}



section {width: 100%; height: 100vh;}


section#s1 {background: url('../images/sea2.jpeg ') center top;  background-size: cover; position: relative;}
section#s1 article {width: 350px; height: 420px; position: absolute; left: 50%; top: 50%; transform: translate(-48%, -30%); transition: .5s; overflow: hidden;}

section#s1 article strong {float: left; width: 350px; height: 420px;  font-size: 386px; color: #fff;}
section#s1 article .text {float: left; width: 440px;height: 420px; font-size: 72px; }
section#s1 article .text em {color: #e2e2e2; font-style: normal; font-weight: bold; height: 180px; border-bottom: 1px solid #fff; display: block; margin-bottom: 28px; margin-top: 20px; opacity: 0; transition:1s;}
section#s1 article .text em b {color: #fff; position: relative;}
section#s1 article :hover .text em b {color: #fff;animation: b_up .7s forwards;}
@keyframes b_up {
	0% {top:60px}
	40% {top: -20px;}
	60% {top: 30px;}
	80% {top: -20px;}
	100% {top: 0px;}
}

section#s1 article .text p {color: rgb(233, 180, 47); opacity: 0; transition: 1s; font-weight: bold;}
section#s1 article .text p span {font-size: 24px; color: #94876b; display: block; margin-top: 5px; line-height: 30px;}
section#s1 article figure {float: left; width: 210px;height: 420px; position: relative; opacity: 0; transition:1s;}
section#s1 article figure img {height: 100%; transform: rotateY(180deg); position: absolute; right: -100px;}


section#s1 article:hover {width: 1100px;}
section#s1 article:hover em {opacity: 1;}
section#s1 article:hover p {opacity: 1; transition-delay: .2s;}
section#s1 article:hover figure {opacity: 1; transition-delay: .4s;}





section#s2 {background: url('../images/gameStoryBackground.png') center top; background-size: cover; background-attachment: fixed; position: relative;}
section#s2 article {width: 405px; height: 540px; margin: 0 auto; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -47%);  transition: .5s; overflow: hidden;}
section#s2 article figure {width: 405px; height: 541px; float: left; margin-right: 40px;}
section#s2 article strong { width: 350px; height: 200px; float: left; font-size: 72px; color: #c06a00; margin-top: 130px; transition: 1s; opacity: 0;}
section#s2 article p {width: 470px; height: 170px; float: left; font-size: 48px; color: #c5c590;transition: 1s; opacity: 0;}

section#s2 article:hover {width: 940px;}
section#s2 article:hover strong {opacity: 1;}
section#s2 article:hover p {opacity: 1;}



section#s3 {background: url('../images/art_3.png') center top; background-size: cover; background-attachment: fixed; position: relative;}
section#s3 .text {width: 330px; height: 280px; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -30%) skewY(0deg);  transition: .25s;  font-size: 72px; color: #fff; }
section#s3 button {width: 70px; height: 20px; font-size: 16px; background: #a54701; color: #fff; position: absolute; left: 50%; top: 50%; margin-left: 80px; margin-top: 160px; transition: .25s;}

section#s3 .text_box:hover .text {transform: translate(-50%, -30%) skewY(-15deg)}


section#s3 .gallery {text-align: center; font-size: 0; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -30%); width: 1600px; display: none;}
section#s3 .gallery li {width: 258px; height: 284px; background: #fff; border-radius: 0 0 50px 0; overflow: hidden; display: inline-block; margin: 0 26px 50px 26px; border: 5px solid #fff; box-sizing: border-box; position: relative; top: 0; transition: .2s;}
section#s3 .gallery li:hover {top: -15px;}

section#s3 .btn_close {width: 100px; height: 100px; border: 1px solid #fff; position: absolute; left: 50%; top: 50%; margin-left: 700px; margin-top: -350px; display: none;}
section#s3 .btn_close::before,
section#s3 .btn_close::after
{content: ""; position: absolute; width: 80%; height: 2px; background: #fff; left: 10px; top: 49px; }
section#s3 .btn_close::before {transform: rotate(45deg);}
section#s3 .btn_close::after {transform: rotate(-45deg);}



section#s4 {background: url('../images/gradient2.jpeg') center bottom; background-size: cover; position: relative;}
section#s4 iframe {width: 1000px; height: 700px; -ms-progress-appearance: ;}


/* 위로 */
.btn a {width: 90px;height: 60px; background: url('../images/top.png');; position: fixed; right: 20px; bottom: 20px; z-index: 777;}