@charset "utf-8";

@import url(reset.css);
@import url(font.css);

body {font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;}

/* layout */

#header {width: 100%; min-width: 1200px; height: 111px; background: rgba(0,27,59,0.1); position: absolute; top: 0; z-index: 3; border-bottom: 1px solid #fff; transition: .5s;}
#header:hover {background: rgba(0,27,59,0.5);}

#visual_main {width: 100%; min-width: 1200px; height: 100vh; background: url("../images/visual_bg.jpg") center top no-repeat; overflow: hidden; position: relative;}
#section_box {position: relative; z-index: 1;}
#section1 {width: 100%; min-width: 1200px; height: 173px;}
#section2 {width: 100%; min-width: 1200px; height: 658px; background: #f2f2f2;}
#section3 {width: 100%; min-width: 1200px; height: 478px; background: url("../images/sec3_bg.jpg") center top no-repeat;}
#section4 {width: 100%; min-width: 1200px; height: 470px; background: #f9f9f9;  padding-top: 80px; box-sizing: border-box;}
#section5 {width: 100%; min-width: 1200px; height: 600px; }
#footer {width: 100%; min-width: 1200px; height: 233px; background: #4c6579;}





/* header */
#header h1 {width: 355px; height: 111px; float: left; margin-left: 156px;}
#header .gnb {height: 78px; float: right; margin-top: 32px; margin-right: 32px; }
#header .gnb > li {height: 78px; line-height: 78px; font-weight: bold; display: inline-block; position: relative; font-size: 20px;}
#header .gnb > li > a {color: #fff; display: block; padding: 0 40px;}
#header .gnb > li .lnb {position: absolute; width: 100%;  z-index: 2; font-weight: normal; display: none;}
#header .gnb > li .lnb > li {font-size: 18px; height: 50px; line-height: 50px; letter-spacing: -1px; text-align: center;}

#header .lnb_bg {position: absolute; width: 100%; height: 300px; background: rgba(255,255,255,0.97); border-bottom: 4px solid #5395c5; top: 111px; display: none;}

#header .hamburger {width: 78px; height: 78px; float: right; margin-top: 32px; margin-right: 121px; position: relative; z-index: 10; cursor: pointer; transition: .3s;}
#header .hamburger span {width: 29px; height: 3px; background: #fff; position: absolute; left: 25px; border-radius: 0 0 100px 0 }
#header .hamburger span:nth-child(1) {top: 27px;}
#header .hamburger span:nth-child(2) {width: 22px; top: 37px;}
#header .hamburger span:nth-child(3) {top: 47px;}





/* visual_main */
#visual_main .building {width: 100%; height: 100%; background: url("../images/visual_hp.png") center  -300px no-repeat; position: absolute; }
#visual_main .text_box {position: absolute; top: 300px; left: 50%; transform: translateX(-50%); text-align: center;}
#visual_main .text_box strong {font-size: 90px; color: #fff; font-weight: bold; line-height: 86px;}
#visual_main .text_box strong span {display: block;}
#visual_main .text_box strong span:nth-child(1) {animation: txt_ani1 1s forwards; animation-delay: .2s; color: #ffdec5; opacity: 0;}
@keyframes txt_ani1 {
  0% {margin-right: 300px; opacity: 0;}
  100% {margin-right: 0px; opacity: 1;}
}
#visual_main .text_box strong span:nth-child(2) {animation: txt_ani2 1s forwards; animation-delay: .4s; opacity: 0;}
@keyframes txt_ani2 {
  0% {margin-left: 300px; opacity: 0;}
  100% {margin-left: 0px; opacity: 1;}
}

#visual_main .text_box strong span:nth-child(3) {animation: txt_ani1 1s forwards; animation-delay: .6s; opacity: 0;}



#visual_main .text_box hr {width: 200px; height: 5px; background: #ffdec5; margin: 30px auto; animation: bar 1s forwards; animation-delay: .9s; opacity: 0;}
@keyframes bar {
  0% {width: 0; opacity: 0;}
  100% {width: 200px; opacity: 1;}
}

#visual_main .text_box p {font-size: 40px; color: #fff; animation: up 2s forwards; animation-delay: 1.2s; opacity: 0;}
@keyframes up {
  0% {margin-top: 100px; opacity: 0;}
  100% {margin-top: 0; opacity: 1;}
}



/* section1 */
#section1 > div {width: 1200px; height: 200px; background: #fff; margin: 0 auto; text-align: center; box-shadow: 0 2px 20px rgba(0,0,0,0.1); position: relative; z-index: 3; padding-top: 15px; box-sizing: border-box;}
#section1 > div > a {display: inline-block; margin:0 3px;}
#section1 > div > a > ul {width: 270px; height: 170px; background: #f5f5f5; position: relative; transition: .5s;}
#section1 > div > a:hover > ul {background: #f8eee7;}
#section1 > div > a > ul li.bul {position: absolute; width: 13px; height: 13px; left: 5px; top: 5px; background: #f2ac79;}
#section1 > div > a > ul li.icon {width: 100%; height: 51px; margin: 21px auto 16px auto; float: left;}
#section1 > div > a > ul li.title {width: 100%; height: 34px; font-size: 18px; font-weight: bold; clear: both;}
#section1 > div > a > ul li.exp {width: 100%; height: 34px; font-size: 14px; }



/* section2 */
#section2 > div {width: 1200px; margin: 0 auto;}
#section2 > div h2 {width: 100%; height: 100px; font-size: 36px; text-align: center; line-height: 70px;}
#section2 > div h2 span {display: block; font-size: 18px; color: #777; font-weight: normal; line-height: 20px;}

#section2 .content ul {width: 288px; height: 307px; box-shadow: 0 2px 20px rgba(0,0,0,0.07); background: #fff; position: relative; float: left; margin-right: 15px; }
#section2 .content ul:last-child {margin-right: 0;}


#section2 .content ul li.icon {position: absolute; width: 52px; height: 23px; line-height: 23px; background: #f2ac79; color:#fff; text-align: center; left: 20px; top: 39px; font-size: 13px}
#section2 .content ul li.tit {width: 248px; height: 30px; font-size: 18px; font-weight: bold; margin-top: 69px; float: left; margin-left: 20px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
#section2 .content ul li.tit a {color: #444;}
#section2 .content ul li.exp {width: 248px; float: left; margin-left: 20px; font-size: 14px; line-height: 25px}
#section2 .content ul li.exp a {color:#777; }
#section2 .content ul li.day {position: absolute; right: 20px; bottom: 15px; font-size: 14px; color:#777;}


/* section3 */
#section3 > div {width: 1200px; height: 100%; margin: 0 auto; position: relative;}
#section3 > div h1 {width: 264px; height: 102px; position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);}

#section3 > div a {position: absolute; width: 288px; height: 110px; background: #fff; }
#section3 > div a li.icon {width: 51px; height: 51px; float: left; margin: 33px 0 0 16px; }
#section3 > div a li.tit {width: 200px; height: 30px; float: left; margin: 20px 0 0 15px; font-size: 18px; font-weight: bold}
#section3 > div a li.exp {width: 200px; height: 50px; float: left; margin: 0px 0 0 15px; font-size: 14px;}

#section3 > div a:nth-of-type(1) {top: 52px; left: 0; }
#section3 > div a:nth-of-type(2) {top: 182px; left: 0; }
#section3 > div a:nth-of-type(3) {top: 312px; left: 0; }
#section3 > div a:nth-of-type(4) {top: 52px; right: 0; }
#section3 > div a:nth-of-type(5) {top: 182px; right: 0; }
#section3 > div a:nth-of-type(6) {top: 312px; right: 0; }

#section3.action a:nth-of-type(1) {animation: sec3_1 1s forwards;}
#section3.action a:nth-of-type(2) {animation: sec3_2 1s forwards;}
#section3.action a:nth-of-type(3) {animation: sec3_3 1s forwards;}
#section3.action a:nth-of-type(4) {animation: sec3_4 1s forwards;}
#section3.action a:nth-of-type(5) {animation: sec3_5 1s forwards;}
#section3.action a:nth-of-type(6) {animation: sec3_6 1s forwards;}

@keyframes sec3_1 {
  0% {left:400px; top:182px; opacity: 0;}
  100% {left:0px; top:52px; opacity: 1;}
}
@keyframes sec3_2 {
  0% {left: 400px; top: 182px; opacity: 0}
  100% {left: 0; top: 182px; opacity: 1}
}
@keyframes sec3_3 {
  0% {left: 400px; top: 182px; opacity: 0}
  100% {left: 0; top: 312px; opacity: 1}
}
@keyframes sec3_4 {
  0% {right: 400px; top: 182px; opacity: 0}
  100% {right: 0; top: 52px; opacity: 1}
}
@keyframes sec3_5 {
  0% {right: 400px; top: 182px; opacity: 0}
  100% {right: 0; top: 182px; opacity: 1}
}
@keyframes sec3_6 {
  0% {right: 400px; top: 182px; opacity: 0}
  100% {right: 0; top: 312px; opacity: 1}
}



/*section4*/

#section4 > div {width: 1200px; height: 307px; margin:0 auto; }
#section4 > div .info {width: 288px; height: 307px; float: left; background: #a5a253; box-shadow: 0 0 20px rgba(0,0,0,0.2); }
#section4 > div .health {width: 898px; height: 307px; float: right; background: #fff; box-shadow: 0 0 20px rgba(0,0,0,0.2)}


#section4 .info .phone {width: 288px; height: 154px; text-align: center}
#section4 .info .phone img {margin: 15px 0}
#section4 .info .phone h3 {font-size: 18px; color: #fff; height: 20px;}
#section4 .info .phone p.callnum {height: 42px; line-height: 42px; font-size: 30px; color:#fff}
#section4 .info .phone p.callnum a {color:#fff}

#section4 .info .time {width: 288px; height: 153px; background: #757f01;}
#section4 .info .time table { margin: 28px 0 0 28px; float: left; color: #fff; font-size: 15px}
#section4 .info .time table tr {}
#section4 .info .time table tr th {width: 63px; height: 26px; background: #484e01; }
#section4 .info .time table tr td {text-indent: 10px}
#section4 .info .time table tr:nth-child(2n) td {height: 9px; }

#section4 .health h2 {height: 20px; line-height: 20px; margin-left: 22px; font-size: 20px; margin-bottom: 54px; margin-top: 22px;}
#section4 .health h2 span {color:#4f4fb7; font-weight: normal; margin-left: 20px;}
#section4 .health .video_box {width: 860px; height: 180px; margin-left: 20px; }
#section4 .health .video_box ul {width: 257px; height: 180px; float: left; margin-right: 43px; }
#section4 .health .video_box ul:last-child {margin-right: 0;}
#section4 .health .video_box ul li.movie {width: 257px; height: 138px; position: relative;}
#section4 .health .video_box ul li.movie button.play {width: 48px; height: 48px; position: absolute; background: rgba(255,255,255,0.5); left: 100px; top: 45px; color: #333; font-size: 16px; border-radius: 50%; transition: .2s; cursor: pointer}
#section4 .health .video_box ul li.movie button.play:hover {background: rgba(0,0,0,0.9); color: #fff; transform: scale(1.3)}
#section4 .health .video_box ul li.tit {height: 40px; line-height: 40px;}



/*section4*/
#section5 > h2 {width: 100%; height: 100px; text-align: center; font-size: 36px; line-height: 70px; margin: 70px 0;}
#section5 > h2 span {font-size: 18px; color: #777; line-height: 23px; font-weight: normal; display: block;} 
#section5 .map_box {position: relative;}
#section5 .pop {width: 256px; height: 245px; position: absolute; left: 50%; top: 50%; margin-left: 350px; transform: translate(-50%,-50%); z-index: 2;}




.sidebox {perspective: 1000px; width: 100%; height: 100vh; overflow: hidden; position: fixed; top: 0; z-index: -1;}
.sidemenu {width: 100%; height: 100vh; position: fixed; top: 0; right: 0; background: rgba(38,57,73,0.97); z-index: 777; transform: rotateY(-140deg); transform-origin: right; transition: .3s cubic-bezier(.04,.53,.25,.95);}
.sidemenu.action {transform: rotateY(0deg);}

.sidemenu .btn_close {position: absolute; left: 50%; top: 100px; width: 80px; height: 80px; cursor: pointer; transform: translateX(-50%)}
.sidemenu .btn_close:before,
.sidemenu .btn_close:after {content: ""; position: absolute; width: 80px; height: 3px; background: #fff; top: 40px }
.sidemenu .btn_close:before {transform: rotate(45deg); transition:.5s cubic-bezier(1,.27,.15,1.66)}
.sidemenu .btn_close:after {transform: rotate(-45deg); transition:.5s cubic-bezier(1,.27,.15,1.66)}

.sidemenu .btn_close:hover:before,
.sidemenu .btn_close:hover:after {box-shadow: 
    0 0 5px #073f6b,
    0 0 10px #349aec, 
    0 0 20px #349aec, 
    0 0 20px #349aec, 
    0 0 30px #349aec; }
.sidemenu .btn_close:hover:before {transform: rotate(225deg)}
.sidemenu .btn_close:hover:after {transform: rotate(-225deg)}


.gnb2 {width: 60%; min-width: 80px; text-align: center; position: relative; height: 600px; left: 50%; transform: translate(-50%,0); top: 200px;}

.hidden_menu > li {font-size: 26px; display: inline-block; vertical-align: top; height: 78px; line-height: 78px; position: relative;}
.hidden_menu > li a {color: #ffcea9;}

.hidden_menu > li .lnb {position: absolute; width: 100%;}
.hidden_menu > li .lnb li {font-size: 18px; height: 70px; line-height: 70px; letter-spacing: -1;}
.hidden_menu > li .lnb li a {display: inline-block; width: 200px; height: 60px; text-align: center; line-height: 60px; color: #222; background: rgba(255,255,255,0.8); transition: .2s;}
.hidden_menu > li .lnb li a:hover {color: #f0f0f0;}


.member_box {position: absolute; top: 750px; left:50%; transform: translate(-50%,0)}
.member_box a {display: inline-block; width: 200px; height: 60px; text-align: center; line-height: 60px; color: #222; background: rgba(255,255,255,0.8); transition: .2s}
.member_box a:hover {background: rgba(255,255,255,1);}