@charset "UTF-8";
@import url('reset.css');
@import url('font.css');

html {font-size: 16px;}
body {font-family: 'NanumBarunGothic', sans-serif; background: #f3f3f3;}

/*layouts*/
#header {width: 100%; min-width:1043px; height: 180px; transition: .5s; position: fixed; top:0; z-index: 7; background: #f3f3f3;}
#visual_main {width: 100%; min-width:1043px; height: 650px; background: url('../images/main1.jpg') center top; background-size: cover; position: relative; margin-top: 180px;}
.section1 {width: 100%; min-width:1043px; height: 377px;}
.section2 {width: 100%; min-width:1043px; height: 454px; background: url('../images/bg_section2.jpg') center bottom; background-attachment: fixed;;}
.section3 {width: 100%; min-width:1043px; height: 245px;}
.section4 {width: 100%; min-width:1043px; height: 710px; background: #9e9b58;}
#footer {width: 100%; min-width:1043px; height: 225px; background: #66552c;}

.center_box {width: 1043px; margin: 0 auto; position: relative;}





#popup {width: 100%; height: 120px; background: crimson; display: none;}
#popup button {width: 30px; height: 30px; background: #000; float: right; margin: 50px 30px 0 0; cursor: pointer;}


/*header*/
#header .lang {width: 170px; height: 45px; line-height: 45px; text-align: center; float: left; font-size: 1rem; position: relative; cursor: pointer;}

#header .lang b {font-weight: normal;}

#header .lang span {position: absolute; width: 23px; height: 23px; left:14px; top:10px; background: url('../images/bul_icons.jpg') -3px -28px no-repeat; transition: .5s;}
#header .lang:hover span {background: url('../images/bul_icons.jpg') -3px -5px no-repeat;}


#header .lang .select_lang {position: absolute; background: #fff; box-shadow: 10px 10px 15px rgba(0,0,0,0.1); width: 100%; padding: 15px 0; z-index: 7; display: none;}
#header .lang .select_lang li {height: 30px; line-height: 30px; }
#header .lang .select_lang li:hover {background: #eee;}
#header .lang .select_lang li a {display: block;}





#header .login {width: 350px; height: 45px; line-height: 45px; float: right; text-align: right; font-size: 1rem}
#header .login a {padding: 0 30px; position: relative;}
#header .login a span {position: absolute; width: 23px; height: 23px; left:0px; top:-3px; background: url('../images/bul_icons.jpg') -3px -28px no-repeat; transition: .5s;}
#header .login a:hover span {background: url('../images/bul_icons.jpg') -3px -5px no-repeat;}

#header .login a:nth-child(1) span{background-position: -3px -78px;}
#header .login a:nth-child(1):hover span{background-position: -3px -55px;}

#header .login a:nth-child(2) span{background-position: -3px -125px;}
#header .login a:nth-child(2):hover span{background-position: -3px -102px;}

#header .login a:nth-child(3) span{background-position: -3px -175px;}
#header .login a:nth-child(3):hover span{background-position: -3px -151px;}


#header .logout {width: 310px; height: 45px; line-height: 45px; float: right; text-align: right; font-size: 1rem; display: none;}
#header .logout a {padding: 0 18px;}


#header h1 {width: 170px; height: 50px; position: absolute; left: 50%; top: 40px; transform: translateX(-50%); transition: .5s; }

#header .gnb {width: 100%; float: left; margin-top: 60px; font-size: 0; text-align: center; transition: .5s;}
#header .gnb > li {height: 75px; line-height: 75px; display: inline-block; font-size: 20px; position: relative; transition: .5s;}
#header .gnb > li > a {display: block; padding: 0 40px;}

#header .gnb li:hover {background: #568f3d;}
#header .gnb li:hover a {color: #fff;}

#header .gnb .lnb {position: absolute; background: #5a9640; width: 100%; padding: 15px 0; display: none; z-index: 8;}
#header .gnb .lnb li {height: 40px; line-height: 40px; text-align: left; font-size: 16px; text-indent: 40px;}
#header .gnb .lnb li a {color: #fff; display: block;}
#header .gnb .lnb li:hover {background: #396a23;}
  



#header.action {height: 122px;}
#header.action h1 {top:10px}
#header.action .gnb {margin-top: 30px;}
#header.action .gnb > li {height: 40px; line-height: 40px;}
#header.action .gnb li .lnb {top:40px}






/*visual_main*/
#visual_main .center_box > a {position: absolute; background:rgba(0,0,0,0); width: 160px; height: 60px; left: 40px; top:385px;}
#visual_main .notice_box {width: 100%; min-width:1043px; height: 60px; background: rgba(90,150,64,0.94); position: absolute; bottom: 0;}
.notice_box h2 {width: 132px; height: 32px; text-align: center; line-height: 32px; font-size: 16px; background: #fff; color: #5a9640; float: left; margin-top: 14px;}
.notice_box .article {float: right; width: 870px; height: 32px; margin-top: 14px; overflow: hidden;}
.notice_box .article ul {}
.notice_box .article li {width: 100%; height: 32px; line-height: 32px; }
.notice_box .article li a {color: #fff;}



/*section_box*/
.section1 {text-align: center; font-size: 0;}
.section1 .center_box > div {width: 300px; height: 270px; display: inline-block; margin:54px 65px 0 0}
.section1 .center_box > div:last-child {margin-right: 0;}

.section1 .center_box > div h2 {width: 100%; height: 50px; font-size: 24px; color: #333; text-align: left;}

.section1 .center_box > div h2 a {float: right; width: 34px; height: 34px; background: #506a01; position: relative;}
.section1 .center_box > div h2 a:before,
.section1 .center_box > div h2 a:after {content:""; position: absolute; width: 18px; height: 2px; background: #fff; transition:.3s; left: 8px; top:16px;}
.section1 .center_box > div h2 a:after {transform: rotate(90deg);}

.section1 .center_box > div h2 a:hover:before {width: 15px; transform: rotate(45deg); top:11px; left:10px}
.section1 .center_box > div h2 a:hover:after {width: 15px; transform: rotate(-45deg); top:20px; left:10px}

.section1 .center_box > div:nth-child(2) h2 a {background: #7baf00;}



.section1 .center_box > div li {text-align: left; height: 50px; line-height: 50px; width: 100%; border-bottom: 1px solid #ddd;}
.section1 .center_box > div li a {font-size: 16px; color: #333;}
.section1 .center_box > div li a p {float: left; width: 210px;}
.section1 .center_box > div li a p:last-child {color: #888; width: 80px; float: right;}


.section2 {padding-top: 40px; position: relative;}
.section2:before {content:""; position: absolute; width: 100%; height: 100%; background: rgba(0,0,0,0.4); top:0}
.section2 h3 {width: 100%; height: 60px; line-height: 29px; text-align: center; font-size: 19px; color: #fff; }
.section2 h3 span {color: #beca28;}

.section2 .article2 {width: 100%; margin-top: 40px; text-align: center; font-size: 0;}
.section2 .article2 ul {width: 290px; height: 130px; background: rgba(255,255,255,0.2); display: inline-block; margin:0 10px 20px 10px; padding-top: 35px; box-sizing: border-box; }

.section2 .article2 ul li.title {font-size: 22px; color: #fff; height: 30px;}
.section2 .article2 ul li.ex {font-size: 13px; color: #afc188; width: 190px; margin:0 auto}



.section3 {padding-top: 49px; box-sizing: border-box;}
.section3 ul {text-align: center; font-size: 0;}
.section3 ul li {width: 447px; height: 150px; display: inline-block; background: #495408; text-align: left; margin: 0 10px; position: relative; overflow: hidden;}
.section3 ul li h3 {height: 36px; line-height: 31px; margin: 44px 0 0 46px; font-size: 22px; color: #fff;}
.section3 ul li h3 span {float: left; width: 29px; height: 29px; background: #7baf00; margin-right: 7px; position: relative;}
.section3 ul li h3 span:before,
.section3 ul li h3 span:after {content:""; position: absolute; width: 12px; height: 2px; background: #fff; left:7px; top: 13px;transform-origin: right;}
.section3 ul li h3 span:before {transform: rotate(45deg);}
.section3 ul li h3 span:after {transform: rotate(-45deg);}

.section3 ul li p {font-size: 13px; margin: 0px 0 0 46px; color: #cdddac;}
.section3 ul li figure.earth {width: 230px; height: 230px; border:7px solid #fff; border-radius: 50%; background:url('../images/earth.png') right 0 top 0 repeat-x; background-size: 150%; position: absolute; right: -20px; bottom:-110px; opacity: 0.2; transition:4s; ;}

.section3 ul li:hover figure.earth {background-position: right -400px top -50px; background-size: 200%; }


.section3 ul li figure.phone {width: 230px; height: 230px; position: absolute; right: -70px; bottom:-100px; }
.section3 ul li figure.phone svg {width: 60%; fill:#fff; opacity: 0.2;}

.section3 .path1 {animation: phone 0.5s alternate infinite linear; transform-origin: center;}
/* @keyframes phone {
    0% {transform: rotate(-10deg);}
    100% {transform: rotate(10deg);}
} */
.section3 li:hover .path2 {animation: phone2 0.5s alternate infinite linear; transform-origin: center; animation-delay: .25s;}
@keyframes phone2 {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.section3 li:hover  .path3 {animation: phone3 0.5s alternate infinite linear; transform-origin: center;}
@keyframes phone3 {
    0% {opacity: 0;}
    100% {opacity: 1;}
}


.section4 h2 {width: 100%; height: 120px; font-size: 24px; text-align: center; color: #fff; line-height: 120px;}
.section4 .article4 li {float: left; position: relative; overflow: hidden;}
.section4 .article4 li a {display: block; height: 100%;}
.section4 .article4 li h3 {font-size: 24px; height: 36px; line-height: 36px; margin: 30px 0 0 20px;}
.section4 .article4 li p {font-size: 14px; margin-left: 20px;}
.section4 .article4 li span {position: absolute; font-size: 100px; right: -15px; bottom: -25px; font-weight: bold; color:rgba(255,255,255,0.4); transition: .3s;}

.section4 .article4 li:nth-child(1) {width: 194px; height: 354px; background: #e4e69d; margin: 0 20px 20px 0;}
.section4 .article4 li:nth-child(1) span {right: -20px}

.section4 .article4 li:nth-child(2) {width: 294px; height: 184px; margin:0 20px 20px 0; background: #5d5a4b;}
.section4 .article4 li:nth-child(2) h3 {color: #dfdfa1;}
.section4 .article4 li:nth-child(2) p {color: #dfdfa1;}

.section4 .article4 li:nth-child(3) {width: 195px; height: 184px; margin:0 20px 20px 0; background: #52a8a2;}
.section4 .article4 li:nth-child(3) h3 {color: #fff;}
.section4 .article4 li:nth-child(3) p {color: #59fef2;}

.section4 .article4 li:nth-child(4) {width: 295px; height: 184px; background: #8e793e;}
.section4 .article4 li:nth-child(4) h3 {color: #fff;}
.section4 .article4 li:nth-child(4) p {color: #c5b075;}

.section4 .article4 li:nth-child(5) {width: 510px; height: 149px; margin:0 20px 20px 0;  background: #5e6570;}
.section4 .article4 li:nth-child(5) h3 {color: #fff;}
.section4 .article4 li:nth-child(5) p {color: #7a8ca7;}

.section4 .article4 li:nth-child(6) {width: 295px; height: 150px; margin:0 0 20px 0;  background: #e4e69d;}
.section4 .article4 li:nth-child(6) h3 {color: #5d5a4b;}
.section4 .article4 li:nth-child(6) p {color: #5d5a4b;}

.section4 .article4 li:nth-child(7) {width: 194px; height: 167px; margin:0 20px 20px 0;  background: #f93c05;}
.section4 .article4 li:nth-child(7) h3 {color: #fff;}
.section4 .article4 li:nth-child(7) p {color: #fff;}

.section4 .article4 li:nth-child(8) {width: 295px; height: 167px; margin:0 20px 0 0;  background: #605f33;}
.section4 .article4 li:nth-child(8) h3 {color: #fff;}
.section4 .article4 li:nth-child(8) p {color: #dfdfa1;}

.section4 .article4 li:nth-child(9) {width: 510px; height: 167px; margin:0 0 0 0;  background: #9ab77f;}
.section4 .article4 li:nth-child(9) h3 {color: #fff;}
.section4 .article4 li:nth-child(9) p {color: #fff;}



.section4 .article4 li:hover span {right: 0; color:rgba(255,255,255,1); }