@charset "UTF-8";
@import url('reset.css');
@import url('font.css');

html {font-size: 16px;}
body {font-family:  Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif; 
    background: #f3f3f3;}


/* latouts */
#header_j {width: 1200px; height: 150px; position: absolute; left: 50%; transform: translateX(-50%);}
#visual_main {width: 100%; min-width: 1200px; height: 770px; background: url("../images/visual_main.jpg") center no-repeat;}
#section_wrap {}
#section1 {width: 1200px; margin: 0 auto;}
#section2 {width: 1200px; margin: 0 auto;}
#section3 {width: 100%; min-width: 1200px; height: 330px; background: #f3ebe4; margin-bottom: 120px;}
#section4 {width: 1200px; margin: 0 auto;}
#section5 {width: 1200px; margin: 0 auto;}
#footer_j {width: 100%; min-width: 1200px; height: 300px; background: #cecece;}

/* header */
#header_j h1 {width: 200px; height: 150px; float: left; margin-top: 38px;}
#header_j h1 img {width: 100%}

#header_j .topmenu {width: 300px; height: 22px; float: right; margin-top: 29px; text-align: right; font-size: 0; line-height: 22px;}
#header_j .topmenu a { padding: 0 12px; color: #fff; display: inline-block; height: 22px; vertical-align: top; font-size: 16px;}
#header_j .topmenu a:nth-of-type(1) {background: #f87b82; border-radius: 20px 0 0 20px; padding: 0 12px 0 20px; line-height: 22px;}
#header_j .topmenu a:nth-of-type(2) {background: #ec67a5; line-height: 20px;}
#header_j .topmenu a:nth-of-type(3) {background: #d663b8; border-radius: 0 20px 20px 0; padding: 0 20px 0 12px; line-height: 22px;}

#header_j .gnb {float: right; width: 800px; height: 50px; margin-top: 49px; font-size: 0; text-align: right;}
#header_j .gnb > li {display: inline-block; font-size: 20px; height: 50px; line-height: 50px; margin-left: 50px; position: relative;}
#header_j .gnb > li > a {display: block;}

#header_j .gnb > li::before,
#header_j .gnb > li::after {content: ""; position: absolute; transition: .2s;}
#header_j .gnb > li::before {content: url('../images/gnb_point.png'); position: absolute; left: -12px;top: -20px; opacity: 0;}
#header_j .gnb > li::after {width: 0px; height: 1px; background: #ec67a5; bottom: 10px; right: 0px;}

#header_j .gnb > li:hover::before {opacity: 1; top: -15px;}
#header_j .gnb > li:hover::after {width: 30px;}

#header_j .gnb > li:hover .lnb_box {opacity: 1; visibility: visible; margin-left: 0; transform: translateX(-50%) rotate(0);}

.lnb_box {width: 480px; height: 290px; left: 50%; position: absolute; transform: translateX(-50%) rotate(10deg); opacity: 0; visibility: hidden; transition: .8s; margin-left: 200px; margin-top: 20px;}

.lnb_box .circle1 {width: 9px; height: 9px; background: #ff4b59; border-radius: 50%; position: absolute; left: 50%; transform: translateX(-50%);}
.lnb_box .circle2 {width: 15px; height: 15px; background: #e90673; border-radius: 50% 50% 0 0; position: absolute; left: 50%; top: 15px; transform: translateX(-50%);}
.lnb_box .circle2 i {width: 45px; height: 15px; position: absolute; background: #e90673; left: -15px; top: 7px;}
.lnb_box .circle2 i::before,
.lnb_box .circle2 i::after {content: ""; position: absolute; background: #eee; width: 16px; height: 8px; top: 0; }
.lnb_box .circle2 i::before {left: -1px; border-radius: 0 0 100px 0;}
.lnb_box .circle2 i::after {right: -1px; border-radius: 0 0 0 100px;}

.lnb_box .lnb_bg {width: 480px; height: 210px; background: #e90673; border-radius: 150px; position: absolute; top: 30px; perspective: 1200px; z-index: 2; box-shadow: 10px 10px 10px rgba(0,0,0,0.2); animation: updown 0.3s infinite alternate ease-out; }
@keyframes updown {
     0% {top: 25px;}
     100% {top:30px;}
}

.lnb_box .lnb_bg::before {content: ""; position: absolute; width: 100px; height: 50px;  right: 0; top: 40px; background: linear-gradient(45deg, #e90b73 40%, #fa7d81); border-radius: 50px 10px 30px 0; transform: skewX(-30deg); box-shadow: 0 -10px 10px rgba(0,0,0,0.2); animation: wing .5s infinite alternate; transform-origin: bottom;}
/* 무한  왔다갔다 */
@keyframes wing {
    0% {transform: rotate(0);}
    100% {transform: rotateX(70deg);}
}

.lnb_box .tire_box {position: absolute; width: 100%; }
.lnb_box .tire_box .tire1 {position: absolute; width: 60px; height: 60px; border-radius: 50%; border: 14px solid #ff8184; left: 100px; animation: tire1 3s infinite linear;}
@keyframes tire1 {
    0% {transform: rotate(0);}
    100% {transform: rotate(-360deg);}
}
.lnb_box .tire_box .tire1 span {position: absolute; width: 14px; height: 2px; background: rgba(255,255,255,0.5); left:50%; top:50%; margin-left:-7px; margin-top: -1px; transform:rotate(calc(45deg * var(--index))) translateX(37px);}

.lnb_box .tire_box .tire2 {position: absolute; width: 60px; height: 60px; border-radius: 50%; border:14px solid #f44dc2; right: 100px; animation: tire1 3s infinite linear;}
.lnb_box .tire_box .tire2 span {position: absolute; width: 14px; height: 2px; background: rgba(255,255,255,0.5); left:50%; top:50%; margin-left:-7px; margin-top: -1px; }

.lnb {position: absolute; width: 350px; height: 200px; z-index: 3; top:50px; left: 70px;}
.lnb dl {width: 100%; font-size: 16px; text-align: left; text-indent: 10px;display: grid; grid-template-columns: 110px auto auto; margin-bottom: 10px; }
/* 반씩 나눠가져라 / 비율 1fr : fr = 1:1 */
.lnb dl dt {float: left; line-height: 24px; grid-row:1/10 ; color: #fbcb23;} /* 줄 합치기 */
.lnb dl dd {float: left; height: 24px; line-height: 24px;}
.lnb dl dd a { color: #fff;}



/* 메인 신상품 */

.title_box {width: 100%; height: 140px; }
.title_box em {font-size: 16px; color: #aaa; font-style: normal;}
.title_box h2 {font-size: 44px; color: #ff8184; font-weight: 600; border-bottom: 1px solid #ddd; text-indent: -7px; height: 68px; line-height: 68px; position: relative;}
.title_box h2 span {position: absolute; width: 100%; height: 11px; background: #ff8184; border-radius: 20px; left: 0; bottom: -5px; transition: .5s;}
.title_box h2 a {float: right;}

.title_box h2 span.on  {width: 170px;}

.title_box p {font-size: 16px; color: #777; line-height: 54px;}


.content_box {margin-top: 30px; padding-bottom: 120px; }
.content_box ul {width: 270px; float: left; margin-right: 40px; position: relative;margin-bottom: 80px;}
.content_box ul::after {content: ""; position: absolute; width: 1px; height: 100%; background: #e5e5e5; right: -20px; top: 0;}
.content_box ul:nth-child(4n) {margin-right: 0; }
.content_box ul:nth-child(4n):after {display: none; }
.content_box ul li.thumbnail {width: 270px; height: 270px; border-radius: 10px; overflow: hidden;}
.content_box ul li.title {font-size: 18px; height: 40px; line-height: 40px;}
.content_box ul li.title a{color: #777; }
.content_box ul li.price {font-size: 20px; }
.content_box ul li.price a {color: #ff8184;}


#section2 .title_box h2 {color: #e762a0; }
#section2 .title_box h2 span { background: #e762a0;}
#section2 li.price a { color: #e762a0;}


#section4 .title_box h2 {color: #e762a0; }
#section4 .title_box h2 span { background: #e762a0;}
#section4 li.price a { color: #e762a0;}




#section5 .title_box h2 {color: #6386d6; }
#section5 .title_box h2 span { background: #6386d6;}

#section5 .big_img {width: 900px; height: 503px; float: left;}
#section5 .small_img {width: 280px; float: right;}
#section5 .small_img li {width: 280px; height: 162px;overflow: hidden; margin-bottom: 17px; position: relative; background: #000; border-radius: 10px;}
#section5 .small_img li img {opacity: 1; width: 100%;}
#section5 .small_img li.on img {opacity: 0.5;}
#section5 .small_img li p {position: absolute; width: 100%; color: #fff; top: 50%; transform: translateY(-50%); text-align: center; font-size: 18px; opacity: 0;}
#section5 .small_img li.on p {opacity: 1;}




.scroll_bar {width: 0; height: 2px; background: #ff4b59; position: fixed; left: 0; top: 0;}



/* today */
#today {width: 100px; height: 400px; position: absolute; left: 50%; margin-left: 650px; top: 400px;}
#today ul {width: 100%; padding: 15px 0; border-radius: 50px; background: #fa7c80;}
#today ul li {width: 72px; height: 72px; border-radius: 50%; margin: 0 auto 10px auto; overflow: hidden;}
#today ul li:last-child {margin: 0 auto;}

#today a.go_top {width: 58px; height: 24px; border-radius: 20px; background: #fa7c80 url("../images/today_up.png") no-repeat 10px center; position: relative; display: block; margin: 12px auto 3px auto; color: #fff; text-align: center; line-height: 24px; font-size: 14px; text-indent: 8px; }
#today a.go_top::before {content: url("../images/today_bar.png"); position: absolute; z-index: -1; left: -12px; top: 13px; }


.quick {width: 66px; height: 66px; border-radius: 50%; background: #fa7c80; margin: 0 auto; cursor: pointer;position: relative; }
.quick::before,
.quick::after {content: ""; position: absolute; height: 1px; width: 26px; background: #fff;left: 50%; margin-left: -13px; top: 33px;}
.quick::after {transform: rotate(90deg);}

.quick a {position: absolute; width: 38px; height: 38px; background: #222; border-radius: 50%; color: #fff; font-size: 20px; text-align: center; line-height: 39px; opacity: 0; transition: .5s;}
.quick a:nth-child(1) {left: -50px; top: -20px; }
.quick a:nth-child(2) {left: -60px; top: 25px; }
.quick a:nth-child(3) {left: -30px; top: 60px; }

.quick.on a {animation: quick 1s forwards;}
@keyframes quick {
    0% {transform: scale(0); opacity: 0;}
    20% {transform: scale(1.2); opacity: 1; background: #e762a0;}
    40% {transform: scale(0.8); opacity: 1;}
    60% {transform: scale(1.1); opacity: 1;}
    80% {transform: scale(0.9); opacity: 1;}
    100% {transform: scale(1); opacity: 1;}
} 

.quick.on a:nth-child(2) {animation-delay: 0.1s;}
.quick.on a:nth-child(3) {animation-delay: 0.2s;}

