@charset "UTF-8";

* {margin: 0; padding: 0; list-style: none; color: #333; text-decoration: none;}

body {font-family: "맑은고딕"; }


#wrap {width: 1200px; height: 700px; margin: 0 auto; border:1px solid}
#header {width: 100%; height: 100px; position: relative;}
#visual {width: 100%; height: 300px; position: relative;}
#section {width: 100%; height: 200px; }
#footer {width: 100%; height: 100px; background: #333;}


#header h1 {width: 200px; height: 40px; float: left; margin-top: 30px;}
#header .gnb {width: 600px; height: 100px; float: right;  }
#header .gnb li {width: 150px; height: 100px; line-height: 100px; float: left;   text-align: center; font-size: 20px; position: relative;}
#header .gnb li a {display: block;}

#header .gnb li:hover {background: #aa64cf;}
#header .gnb > li:hover > a {color: #fff;}

#header .gnb .lnb {position: absolute; width: 100%; 
    transition: .3s; opacity: 0; visibility: hidden; /* height: 0; overflow: hidden; */ z-index: 2;}
#header .gnb .lnb li {height: 50px; line-height: 50px; }
#header .gnb .lnb li:hover a {color: #fff;}

#header .gnb:hover .lnb {opacity: 1; visibility: visible;}
#header .gnb:hover li .lnb {height: 200px;}

#header .lnb_bg {width: 100%; height: 200px; /* height: 0px;  */transition: .3s; position: absolute; background: #c493de; top:100px; opacity: 0; visibility: hidden; z-index: 1;}
/* #header .gnb:hover ~ .lnb_bg {height: 200px;} */

#header .gnb:hover ~ .lnb_bg {opacity: 1; visibility: visible;}






/*슬라이드 효과 왼쪽으로*/
/* #visual .slide_box {width: 4800px; }
#visual .slide_box li {float: left; width: 1200px; height: 300px;} */
/* 
@keyframes slide_left {
    0% {margin-left: 0;}
    22% {margin-left: 0;}

    33% {margin-left: -1200px;}
    55% {margin-left: -1200px;}

    66% {margin-left: -2400px;}
    88% {margin-left: -2400px;}

    100% {margin-left: -3600px;}
} */

/*슬라이드 효과 위로*/
/* #visual .slide_box {width: 1200px; animation: slide_top 9s infinite linear;}
#visual .slide_box li {float: left; width: 1200px; height: 300px;}

@keyframes slide_top {
    0% {margin-top: 0;}
    22% {margin-top: 0;}

    33% {margin-top: -300px;}
    55% {margin-top: -300px;}

    66% {margin-top: -600px;}
    88% {margin-top: -600px;}

    100% {margin-top: -900px;}
} */


/* fade 효과 */
/* #visual .fade_box {width: 1200px;}
#visual .fade_box li {width: 1200px; height: 300px; position: absolute; animation:fade 9s infinite; opacity: 0;}
@keyframes fade {
    0% {opacity: 0;}
    11% {opacity: 1;}
    33% {opacity: 1;}
    44% {opacity: 0;}
    100% {opacity: 0;}
}
#visual .fade_box li:nth-child(2) {animation-delay: 3s;}
#visual .fade_box li:nth-child(3) {animation-delay: 6s;} */





/*슬라이드 버튼형*/
#visual .slide_box {width: 3600px; }
#visual .slide_box li {float: left; width: 1200px; height: 300px;}

.btn_box {position: absolute; top:50%; width: 100%;}
.btn_box button {width: 50px; height: 50px; position: absolute; background: #000; color: #fff; font-size: 30px; cursor: pointer; margin-top: -25px; border: 0;}
.btn_box button.next {right: 0;}
.btn_box button:hover {background: red;}

.number {position: absolute; width: 80px; height: 40px; background: #000; left:0; top:0; color:#fff; text-align: center; line-height: 40px; font-size: 20px;}






#section > div {width: 400px; height: 200px; float: left; position: relative;}

#section > div .news {position: absolute; width: 100%; top: 50px;}
#section > div .gallery {position: absolute; width: 100%; top: 50px;}

#section > div .news h2 {width: 100px; height: 50px; line-height: 50px; font-size: 20px; text-align: center; margin-top: -50px;}
#section > div .news h2 a {color:#999}
#section > div .news h2.on a {color:#333}
#section > div .news ul {text-align: center;}
#section > div .news ul li {width: 350px; height: 30px; line-height: 30px; background: #ddd; display: inline-block;}
#section > div .news ul li a {float: left; width: 280px; text-align: left;}
#section > div .news ul li span {float: left; width: 70px;}


#section > div .gallery h2 {width: 100px; height: 50px; line-height: 50px; font-size: 20px; text-align: center; margin-left: 100px; margin-top: -50px;}
#section > div .gallery h2 a {color: #999;}
#section > div .gallery h2.on a {color: #333}
#section > div .gallery ul {text-align: center; display: none;}
#section > div .gallery ul li {display: inline-block; margin: 0 5px; width: 100px; height: 100px; background: #ddd;}




#section > div.banner_box h2 {width: 100px; height: 50px; line-height: 50px; font-size: 20px; text-align: center;}
#section > div.banner_box ul {text-align: center;}
#section > div.banner_box ul li {display: inline-block; margin: 0 5px; width: 100px; height: 100px; background: #ddd;}

#section > div.baro_box h2 {width: 100px; height: 50px; line-height: 50px; font-size: 20px; text-align: center;}
#section > div.baro_box ul {text-align: center;}
#section > div.baro_box ul li {display: inline-block; margin: 0 5px; width: 80px; height: 100px; background: #ddd;}



#footer h1 {width: 200px; height: 40px; float: left; margin-top: 30px; margin-left: 30px;}
#footer .copy {width: 600px; height: 60px; float: left; margin-left: 50px; margin-top: 20px; color: #aaa;}
#footer .sns_box {width: 200px; height: 40px; float: right; margin-top: 30px; }
#footer .sns_box a {display: inline-block; width:40px; height:40px; border-radius: 50%; overflow: hidden; background: #000;;}


#popup {width: 300px; height: 400px; position: absolute; top:50%; left:50%; transform: translate(-50%,-50%); background: #aa64cf; z-index: 7; font-size: 22px; display: none;}
#popup button {font-size: 18px; position: absolute; right: 20px; bottom:20px; background: #333; color: #fff; padding: 10px 20px; border:0; cursor: pointer; }