<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>강경모</title>
        <link rel="stylesheet" href="/css/style.css" />
        <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
    </head>
    <body>

        <div id="header">
            <div class="center_box">
                <div class="topset">
                    <!-- 언어선택/로고 -->
                </div>
                

                <div class="login">
                    <img class="zbxe_widget_output" widget="login_info" skin="default" />
                </div>
                

                <ul class="gnb">
                    <!-- 메뉴 -->
                </ul>
            </div>
        </div>

        
        <div id="visual_sub">
            <div class="center_box">
                <div class="visual_text">
                    <p>강경모요양병원</p>
                    <span>Hospital introduction</span>
                </div>
            </div>
        </div>


        <div class="snb_container center_box">
            <ul class="snb">
                <li class="active"><a href="{getUrl('act','dispMemberLoginForm')}">로그인</a></li>
                <li><a href="{getUrl('act','dispMemberSignUpForm')}">회원가입</a></li>
            </ul>
        </div>
            

        <div class="content_container">
            <div class="center_box_1100">
                <h2>로그인</h2>
                <p class="ex">사랑과 정성 실력으로 준비된 의료진이 따뜻한 마음으로 함께하겠습니다.</p>

                <div class="article autoHeight">
                    {$content}
                </div>
            </div>
        </div>




        <div id="footer">
            <div class="center_box"></div>
        </div>

        <SCript src="/script/action.js"></SCript>
    </body>
</html>
