@charset "UTF-8";
@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {height: 100%;}
body {background: url("../images/bg_stars.jpg"); background-size: cover;}


#starbox1 {width: 100vw; height: 100vh; background: url("../images/stars.png"); animation: stars_ani1 3s infinite linear; position: absolute; left: 0; top: 0; z-index: 1; }

@keyframes stars_ani1 {
    0%{background-position: 0 0;}
    100%{background-position: 500px 500px;}
}

/* #starbox2 {width: 100vw; height: 100vh; background: url("../images/stars.png"); animation: stars_ani2 2.5s infinite linear; position: absolute; background-size: 200%; left: 0; top: 0; z-index: 2; opacity: 70%;} */

/* @keyframes stars_ani2 {
    0%{background-position: 0 0;}
    100%{background-position: 200px 400px;}
}

#starbox3 {width: 100vw; height: 100vh; background: url("../images/stars.png"); animation: stars_ani3 1.5s infinite linear; position: absolute; background-size: 200%; left: 0; top: 0; z-index: 3; opacity: 80%;}

@keyframes stars_ani3 {
    0%{background-position: 0 0;}
    100%{background-position: 400px 400px;}
} */



#header {width: 100%; height: 80px; background: rgba(16,26,36, 0.9); position: absolute; left: 0; top: -80px; z-index: 7; transition: .5s;} 
#header:hover {top: 0;}
#header .gnb {width: 800px; height: 80px; margin: 0 auto;}
#header .gnb li {width: 200px; height: 80px; line-height: 80px; float: left; text-align: center;}
#header .gnb li a{display: block; color: #fff;}

#header .hamburger {position: absolute; width: 60px; height: 30px; border-radius: 0 0 50px 50px; background: rgba(16,26,36, 0.9); top: 80px; left: 50%; margin-left: -40px;}

.hamburger span {position: absolute; width: 18px; height: 1px; background: #fff; left: 21px; top: 11px; transition: .3s;}
.hamburger span:before,
.hamburger span:after {content: ""; position: absolute; width: 100%; height: 100%; background: #fff; transition: .5s;}
.hamburger span:before {top: -4px; left: 0;}
.hamburger span:after {top: 4px; left: 0;}

#header:hover .hamburger span {background: transparent;}
#header:hover .hamburger span:before {transform: rotate(-45deg); left: 0px; top: 0; width: 60%;}
#header:hover .hamburger span:after {transform: rotate(45deg); left: 7px; top: 0;  width: 60%;}

.text {position: absolute; width: 150px; height: 50px; left: 730px; top: 300px; z-index: 5; text-align: center; }

/* .text p:nth-child(2) {padding-top: 60px;} */

.text p {font-size: 20px;  font-weight: bold;color: #fff; font-family: 'S-CoreDream-3Light'; position: absolute;

}
.text p.a {top: 25px; transition: .5s; 
    animation: text_ani 3s forwards; }
.text p.b {top: -25px; transition: .5s; 
    animation: text_ani2 3s forwards; animation-delay: 1s;}

@keyframes text_ani {
    0% {top: 25px; margin-left: -300px; opacity: 0;}
    100% {margin-top: 0; margin-left: 0; opacity: 1;}
}

@keyframes text_ani2 {
    0% {top: -25px; margin-left: -300px; opacity: 0;}
    100% {margin-top: 0; margin-left: 0; opacity: 1;}
}




