@charset "utf-8";
@import url(reset.css);


.center_1400 {margin: 0 auto; max-width: 1400px; min-width : 1200px;}
.center_1200 {width: 1200px; margin: 0 auto; }

body {font-family: '나눔바른고딕', 'NanumBarunGothic';}

#header {width: 100%; height: 124px; background: #fff;background: url("../images/header.jpg") 0 48px repeat-x; }


/* 헤더 */
#header .topmenu {width: 1200px; height:48px; }
#header .topmenu .login {width: 500px; height: 48px; float: right;}
#header .topmenu .login a {display: inline-block; height: 48px; line-height: 48px; text-align: center; float: right; padding: 0 20px; font-size: 15px; color: #555; position: relative; }
#header .topmenu .login a:hover {text-decoration: underline; text-underline-position: under;}
#header .topmenu .login a::before {content: ""; position: absolute; width: 2px; height: 2px; background: #555; top: 48%; left: 5px;}

#header .topmenu h3 {display: inline-block; height: 32px;  line-height: 35px; text-align: center; position: relative; border: 1px solid #888;  border-radius: 30px; top: 7px; padding: 0 30px 0 10px; }
#header .topmenu h3::after {content: ""; width: 20px; height: 20px; border-radius: 50%; background: linear-gradient(45deg, #00afb6, #007abd); position: absolute; right: 7px; top: 7px;}
#header .topmenu h3 a {height: 35px; color: #888; font-size: 17px;}
#header .topmenu h3 a::before {content: ""; width: 7px; height: 1px; background: #fff; position: absolute; right: 12px; top: 14px; z-index: 1; transform: rotate(45deg);  }
#header .topmenu h3 a::after {content: ""; width: 7px; height: 1px; background: #fff; position: absolute; right: 12px; top: 19px; z-index: 1; transform: rotate(-45deg);  }


#header .topset h1 {width: 190px; height: 65px; float: left; margin-top: 8px; background: url("../images/logo.png") no-repeat;}
#header .topset h1 a {width: 190px; height: 65px;  display: block;}
#header .topset .gnb {width: 700px; height: 76px;  float: left; margin-left: 300px; text-align: center;  }
#header .topset .gnb > li { float: left; font-size: 18px; color: #333;  height: 76px; line-height: 76px; box-sizing: border-box; position: relative; }
#header .topset .gnb > li > a {padding: 17px 52px; line-height: 76px; }
#header .topset .gnb > li > a::after {content: ""; width: 100px; height: 7px; background: #007ac3; position: absolute; bottom: -7px; right: 50%; transform: translateX(50%); transition: .3s; opacity: 0; }
#header .topset .gnb > li:hover > a::after {display: block; opacity: 1; bottom: 0;}



.gnb .lnb {position: absolute; width: 100%; padding-top: 5px; z-index: 10; display: none;}
.gnb:hover .lnb {display: block;}

.gnb .lnb li {height: 60px; line-height: 60px; font-size: 18px; text-align: center; z-index: 10;}
.gnb .lnb li a {padding: 10px 15px; border-radius: 10px; background: transparent; transition:.13s;}
.gnb .lnb li:hover a {background: #00afb6; color: #fff;}

.lnb_bg {width: 100%; height: 500px; background: rgba(255,255,255,0.9); position: absolute; left: 0; top: 124px; z-index: 6; visibility: hidden;}

.gnb:hover ~ .lnb_bg {visibility: visible;}


/* 비쥬얼 */
#visual_main {width: 100%; min-width: 1200px; height: 800px; background: url("../images/visual2.jpg") -30px 0 no-repeat;}




/* 빠른메뉴 */
#quick {width: 100%; height: 534px; background: #fff; margin-top: 100px; text-align: center;}
#quick h2 {height: 48px; line-height: 48px; color: #555; font-size: 32px;}
#quick ul {text-align: center;}
#quick ul li {width: 263px; height: 278px; background: #fff; margin: 55px 10px; display: inline-block; vertical-align: top; box-shadow: 2px 2px 3px 1px #d6d6d6; transition: .3s; font-size: 20px; color: #222;}
#quick ul li div.icon {width: 76px; height: 75px; display: inline-block; background: url("../images/quick_icon.png"); margin: 70px 0 38px 0;}
#quick ul li div.bottom {width: 25px; height: 1px; background: #007abd; margin: 10px auto;}

#quick ul li:nth-child(2) div {background-position: -288px 0;}
#quick ul li:nth-child(3) div {background-position: -578px -10px;}
#quick ul li:nth-child(4) div {background-position: -868px 0;}

#quick ul li:hover {background: linear-gradient(45deg, #00afb6, #007abd ); margin-top: 45px; }
#quick ul li:hover p {color: #fff;}
#quick ul li:hover div.bottom {background: #fff}
#quick ul li:hover div.icon {height: 81px; background: url("../images/quick_icon2.png")}
#quick ul li:hover:nth-child(2) div {background-position: -288px 0;}
#quick ul li:hover:nth-child(3) div {background-position: -578px -10px;}
#quick ul li:hover:nth-child(4) div {background-position: -868px 0;}



/* 빠른검색 */
#search {width: 100%; height: 300px; background: #f7f7f7; text-align: center; padding-top: 55px;}
#search h2 {height: 48px; line-height: 48px; color: #555; font-size: 32px; margin: 20px 0;}
#search h2 span {color: #007abd; }

#search .input_box {width: 850px;  height: 74px; background: #838383; border-radius: 50px; margin: 0 auto; position: relative;}
#search input {width: 750px; height: 74px; font-size: 25px; border: 0;   text-indent: 20px; background: #838383}
#search button {position: absolute; right: 5px; top: 5px; width: 115px; height: 64px;  background: #454545; color: #fff; font-size: 20px; border-radius: 50px;}

input::placeholder {color: rgb(238, 238, 238);}

#search ul {margin: 0 auto; text-align: center; }
#search ul li {display: inline-block; font-size: 20px; color: #5a5959; position: relative; margin-top: 34px;}
#search ul li:nth-child(1) {display: inline-block; font-size: 20px; color: #5a5959; margin-right: 20px;}
#search ul li:nth-child(1)::after {content: ""; width: 1px; height: 24px; background: #838383; position: absolute; left: 108px;}

#search ul li a {display: inline; color: #838383;  padding:  15px; }
#search ul li a:hover {text-decoration: underline ; text-underline-position: under; text-decoration-color: #838383;}




/* 의료진 */
#doctors {width: 100%; height: 910px; background: #fff; text-align: center; padding-top: 200px;}

#doctors h2 {height: 48px; line-height: 48px; color: #555; font-size: 32px;}

#doctors ul {position: relative; text-align: center;}
#doctors li {display: inline-block; width: 275px; height: 385px; margin-top: 80px; position: relative;}
#doctors li > p {width: 100%; height: 30px; line-height: 30px;   font-size: 24px; color: #888888; text-align: left; text-indent: 45px; margin-bottom: 10px;}
#doctors li > p::before {content: ""; position: absolute; width: 40px;height: 40px;  background: url("../images/doctors_logo.png"); left: 0; top: -5px;}

#doctors li:nth-child(2) > p::before {background-position: -288px 0;}
#doctors li:nth-child(3) > p::before {background-position: -578px 0;}
#doctors li:nth-child(4) > p::before {background-position: -853px 0;}

#doctors li .img_box {width: 288px; height: 390px; background: #f7f7f7; position: relative;  overflow: hidden; }
#doctors li .img_box p:nth-child(1) {display: inline-block;  font-size: 40px; height: 80px; line-height: 80px;}
#doctors li .img_box p:nth-child(2) {display: inline-block; font-size: 18px;}
#doctors li .img_box img {width: 280px; height: 309px; transition: .4s; }
#doctors li:hover .img_box img {width: 290px; height: 319px; }
#doctors li .img_box div {width: 0; height: 10px; background: linear-gradient(45deg, #007ac3, #00afb6); position: absolute; left: 0; bottom: 0px; transition: .4s;}
#doctors li:hover .img_box div {width: 275px;}
/* #doctors li:hover {opacity: 0.3;}  */
 
#doctors li .ex_box {width: 273px; height: 173px; font-size: 18px; text-align: center; margin-top: 15px;}
#doctors li .ex_box p { color: #00afb6; display: inline-block; font-weight: bold;}
#doctors li .ex_box p:nth-child(2) {width: 245px; height: 70px; text-align: left;  color:#838383; margin-top: 20px; word-break: keep-all;}



#doctors li .doctor_btn {text-align: center;}
#doctors li .doctor_btn a {display: inline-block; width: 128px; height: 38px; line-height: 38px; background: #838383; border-radius: 7px; color: #fff; margin: 0 3px;}
#doctors li .doctor_btn a:hover {background: #686868;;}
#doctors li .doctor_btn a:nth-child(2) {background: linear-gradient(45deg, #007ac3, #00afb6);}
#doctors li .doctor_btn a:nth-child(2):hover {background: linear-gradient(45deg, #006caa, #009fa5)}





/* 소식알림 */
#inform {width: 100%; height: 1180px; background: #fff; text-align: center; margin-top: 100px;}

#inform h2 {height: 48px; line-height: 48px; color: #555; font-size: 32px;}

/* 건강정보 */
#inform .inform_box01 {width: 400px; height: 860px; float: left; background: #007ac3; margin-top: 100px; background:linear-gradient(180deg, #fff, #007abd , #007abd); text-align: center; position: relative;}

#inform .inform_box01 .img_box {width: 400px; height: 534px; background: url('../images/inform_img.jpg') ; text-align: center; }
#inform .inform_box01 > a {width: 37px; height: 37px; background: #000; opacity: 0.5; position: absolute; right: 0; top: 497px;}
#inform .inform_box01 > a:hover {opacity: 0.7;}
#inform .inform_box01 > a::before {content: ""; width: 23px; height: 1px; background: #fff; opacity: 0.5; position: absolute; top: 18px; right:7px;}
#inform .inform_box01 > a::after {content: ""; width: 21px; height: 1px; background: #fff; opacity: 0.5; transform: rotate(90deg); position: absolute;  top: 18px; right: 7px;}

#inform .inform_box01 h3 a{color: #84d3fe; font-size: 24px; height: 90px; line-height: 100px; text-align: left;}

#inform .inform_box01 ul div {width: 350px; height: 5px; position: absolute; background: #fff; left: 25px;}

#inform .inform_box01 ul { height: 326px;  position: relative;  text-align: center;}
#inform .inform_box01 ul li {display: block; padding: 50px 27px; text-align: left; color: #fff; font-size: 20px; word-break: keep-all; line-height: 30px;}


/* 성심소식 */
#inform .inform_box02 {width: 400px; height: 860px; float: left; background:#00afb6; margin-top: 60px; position: relative; overflow: hidden;}
#inform .inform_box02 > a {width: 37px; height: 37px; background: #000; opacity: 0.5; position: absolute; right: 0; top: 453px; z-index: 3}
#inform .inform_box02 > a:hover {opacity: 0.7;}
#inform .inform_box02 > a::before {content: ""; width: 23px; height: 1px; background: #fff; opacity: 0.5; position: absolute; top: 18px; right:7px;}
#inform .inform_box02 > a::after {content: ""; width: 21px; height: 1px; background: #fff; opacity: 0.5; transform: rotate(90deg); position: absolute;  top: 18px; right: 7px;}

#inform .inform_box02 h3 a{display: block; color: #66fffa; font-size: 24px; height: 90px; line-height: 100px; text-align: left; text-indent: 27px;}

#inform .inform_box02 ul div {width: 350px; height: 5px; position: absolute; background: #fff; left: 25px; opacity: 0.5;}
#inform .inform_box02 ul div:nth-child(1) {opacity: 1;}
#inform .inform_box02 ul { height: 326px;  position: relative;  text-align: center;}
#inform .inform_box02 ul li > a {display: block; padding: 20px 35px; text-align: left; color: #fff; font-size: 20px; word-break: keep-all; line-height: 30px; }
#inform .inform_box02 ul li:hover {background: #00a0a5; z-index: 1;}

#inform .inform_box02 img {margin: 240px 200px 0 0;opacity: 0.05;}



/* 고객편의 */
#inform .inform_box03 {width: 400px; height: 860px; float: left; background:#3d434e; margin-top: 100px; position: relative; text-align: center; overflow: hidden;}

#inform .inform_box03 h3 a {display: block; color: #d1d6e0; font-size: 24px; height: 90px; line-height: 100px; text-align: left; text-indent: 27px;}

#inform .inform_box03 > div { width: 350px; height: 5px; position: absolute; background: #fff; left: 25px;}

#inform .inform_box03 ul {margin-top: 30px;}
#inform .inform_box03 ul li {display: inline-block; width: 155px; height: 180px; border: 4px solid #fff;  margin: 10px; }
#inform .inform_box03 ul li p {font-size: 20px; color: #fff; padding: 10px 0;}
#inform .inform_box03 ul li:hover {background : #2f343c;}

#inform .inform_box03 ul li div { width: 63px; height: 68px; background: url("../images/inform03_logo.png"); margin: 40px auto 0;}

#inform .inform_box03 ul li:nth-child(1) div {background-position: -3px 0;}
#inform .inform_box03 ul li:nth-child(2) div {background-position: -429px 0;}
#inform .inform_box03 ul li:nth-child(3) div {background-position: -2px -210px;}
#inform .inform_box03 ul li:nth-child(4) div {background-position: -423px -205px;;}

#inform .inform_box03 > p:nth-child(4) {width: 100%; color: #fff;  font-size: 28px; float: left; text-align: left; text-indent: 25px;}
#inform .inform_box03 > p:nth-child(5) {width: 100%; color: #fff; font-size: 38px; float: left; }

#inform .inform_box03 img {margin: 50px 200px 0 0; opacity: 0.05;}




/* 푸터 */
#footer {width: 100%; height: 275px; background: #333333; position: relative; z-index: 0;}
#footer .footer_bg {width: 100%; height: 80px; background: #2b2b2b; border-bottom:1px solid #007ac3; position: absolute; top: 0; z-index: -2;}

#footer .info_box01 {width: 100%; height: 80px;}
#footer .info_box01 .company_info a { float: left; font-size: 15px; line-height: 80px; color: rgb(219, 219, 219); padding: 0 15px; position: relative;}
#footer .info_box01 .company_info a::before {content: ""; position: absolute; width: 2px; height: 2px; background: rgb(219, 219, 219);top: 40px; left: 0;}
#footer .info_box01 .company_info a:nth-child(1)::before {display: none;}
#footer .info_box01 .company_info a:hover {text-decoration: underline; text-underline-position: under; color: white;}

#footer .info_box01 .sns_box div {width: 35px; height: 35px; background: #fff; border-radius: 50px; float: right; margin: 20px 2px; background: url("../images/footer_sns.png") 6px 5px no-repeat; cursor: pointer;}
#footer .info_box01 .sns_box > div:nth-child(2) {background-position: -37px 5px;}
#footer .info_box01 .sns_box > div:nth-child(1) {background-position: -79px 5px;}



#footer .info_box02 {width: 100%; }
#footer .info_box02 .logo_box {width: 350px; height: 100px; float: left;}
#footer .info_box02 .logo_box img {margin: 30px 10px;}

#footer .info_box02 .address_box {width: 576px; height: 160px; float: left; margin-top: 30px; margin-left: 50px; color: #abadaf;}

#footer .info_box02 .address_box .pp {width: 576px; height: 30px; }
#footer .info_box02 .address_box .pp p {float: left; margin-right: 21px; position: relative; }
#footer .info_box02 .address_box .pp p:after {content: ""; width: 1px; height: 15px; background: #abadaf; position: absolute; right: -11px; top: 2px;}
#footer .info_box02 .address_box .pp p:last-child:after {display: none;}

#footer .info_box02 .address_box .spn {margin-top: 10px; float: left;}
#footer .info_box02 .address_box i {font-size: 10px; float: left; margin-top: 10px;}


#footer .family_box {width: 140px; height: 30px; line-height: 40px; float: left; margin: 60px 0 0 50px; position: relative;}
#footer .family_box h4 {width: 130px; height: 30px; border:1px solid #555; background: #3b3b3b; line-height: 30px; font-size: 14px; text-align: center; font-weight: normal; color:#abadaf}

#footer .family_box ul {width: 130px;  display: none; background: #3b3b3b;  border:1px solid #555;  position: absolute; bottom: 30px;}
#footer .family_box:hover ul {display: block;}


.family_box ul li {font-size: 14px; height: 30px; line-height: 30px;}
.family_box ul li a {display: block; width: 130px;  padding:0 3px; box-sizing: border-box; color:#abadaf;}
.family_box ul li:hover a {background: #007abd; color: #fff;}

#footer .info_box02 .address_box {}
  





.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    position: relative;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

 .swiper-slide .textbox1 {
     position: absolute;
     width: 700px;
     height: 300px;
     left: 50%;
     top: 360px;
     margin-left: -670px;
     text-align: left;
 }

 .swiper-slide .textbox1 p { color: #fff; font-size: 40px; }
 .swiper-slide .textbox1 a {width: 140px; height: 45px;  display: inline-block; color: #007ac3; font-size: 25px; line-height: 45px;text-align: center; margin: 5px;}
 .swiper-slide .textbox1 {background: url("../images/border.png") 0 95px no-repeat; background-size: 150px 50px;}

 .swiper-pagination-bullet {width: 30px !important; background: #fff !important; border-radius: 5px !important; height: 5px !important;}




 /* --------서브페이지---------- */
#section_sub {width: 1200px; }

 /* 서브04_01 */
#visual04_01 {width: 100%; height: 600px; min-width: 1200px; background: url("../images/greeting_img01.jpg") no-repeat center top; }
#visual04_01 .intro {width: 555px; height: 330px; background: rgba(0,116,190,0.8); position: absolute; right: 45%; top: 360px; z-index: 0;}
#visual04_01 .intro p {color: #fff; padding: 40px;}
#visual04_01 .intro p:first-child {font-size: 45px;  position: relative;}
#visual04_01 .intro p:first-child::after {content: ""; width: 155px; height: 1px; background: #fff; position: absolute; left: 35px; top: 130px;}
#visual04_01 .intro p:last-child {font-size: 23px; word-break: keep-all; line-height: 35px;}

#section_sub {width: 1200px; margin: 0 auto ; text-align: center; }
#section_sub .snb {text-align: center; font-size: 0; position: relative; display: inline-block;}
#section_sub .snb li {display: inline-block; width: 200px; height: 60px; line-height: 60px; border:1px solid #cbcbcb; font-size: 18px; border-right: 0; box-sizing: border-box; vertical-align: top; transition: .2s;}
#section_sub .snb li:last-child {border-right: 1px solid #cbcbcb;}
#section_sub .snb li a {color: #777; display: block;}
#section_sub .snb li:hover:not(.on_sub)
{background:#f0f0f0;}
#section_sub .snb .on_sub a {background: #007ac3; color: #fff;}


/* 병원정보 */
#section_sub .introduce01 {width: 1200px; height: 450px;  justify-content: center; display: flex; margin-top: 50px;}
#section_sub .introduce01 ul {width: 245px; height: 350px; display: inline-block; border-radius: 115px; background: linear-gradient(45deg, #007abd, #00afb6); opacity: 0.6; float: left; margin: 50px 22.5px; position: relative; display: flex; justify-content: center; transition: .5s;}
#section_sub .introduce01 ul:hover {opacity: 1;}
#section_sub .introduce01 ul:hover::after {opacity: 0.6;}
#section_sub .introduce01 ul:hover::before {width: 210px;}

#section_sub .introduce01 ul::after {content: ""; width: 13px; height: 13px; background: #007abd; border-radius: 50%; position: absolute; right: -29px;  top: 169px; }
#section_sub .introduce01 ul:last-child:after {display: none;}
#section_sub .introduce01 ul::before {content: ""; width: 30px; height: 2px; background: #fff; position: absolute; left: 50%; transform: translateX(-50%); transition: .5s; top: 174px}

.introduce01 li:first-child {color: #fff; font-size: 26px; position: absolute; top: 72px;  }
.introduce01 li.num {color: #fff; font-size: 26px; position: absolute; bottom: 62px; }
.introduce01 .num span {font-size: 42px;}


/* 이사장 인사말 */
#section_sub .introduce02 {width: 1200px; height: 1200px; margin-top: 60px;}
#section_sub .introduce02 .img_box {float: left; width: 535px; height: 400px; background: url("../images/greeting_img02.jpg") no-repeat;}
#section_sub .introduce02 figure p {display: inline-block; float: left; font-size: 40px;  padding: 120px 160px; text-align: left; color: #888; position: relative;}
#section_sub .introduce02 figure p::before {content: ""; width: 75px; height: 60px;  position: absolute; left: 90px; top: 70px; background: url("../images/greeting.png");}
#section_sub .introduce02 figure p::after {content: ""; width: 75px; height: 60px;  position: absolute; right: 110px; bottom: 70px; background: url("../images/greeting.png") -330px -170px;}
#section_sub .introduce02 p {text-align: left; font-size: 20px; margin: 30px 10px; color: #333;}
#section_sub .introduce02 > p:nth-last-child(2) {font-size: 30px;}
#section_sub .introduce02 > p:last-child {text-align: right; font-size: 25px; margin-top: 110px;}
#section_sub .introduce02 > p:last-child span {font-size: 40px;}



/* 서브04_03 */
#visual04_03 {width: 100%; height: 600px; min-width: 1200px; background: url("../images/mission_img01.jpg") no-repeat center top; text-align: center;}
#visual04_03 .missvis_intro {width: 1200px; height: 600px; justify-content: center;}

#visual04_03 .missvis_intro .img_box {display: inline-block; width: 100px; height: 100px; background: url("../images/sub0304_logo.png") no-repeat; border: 1px solid red; margin: 200px 0 30px 0;}
#visual04_03 p {color: #fff; font-size: 40px; padding: 30px 10px; font-weight: lighter; position: relative;}
#visual04_03 p::after {content: ""; position: absolute; width: 500px; height: 1px; background: #fff; top: 0; right: 50%; transform: translateX(50%); opacity: 0.7;}


/* 원훈 */
.onehoon {width: 100%; height: 400px;  border: 1px solid;}
.onehoon strong {display: inline-block;  width: 100px; height: 100px; border-radius: 52px; line-height: 100px; border: 4px solid #007ac3; font-size: 30px; margin: 100px 0 
  50px 0; font-weight: normal; color: #555; position: relative; }

.onehoon .onehoon_txt {width: 700px; height: 60px;  margin: 0 auto;  position: relative; transition: .3s;}
.onehoon .onehoon_txt p { color: #555; font-size: 28px; line-height: 60px; border-bottom: 4px solid #007ac3;}
/* .onehoon .onehoon_txt::after {content: ""; width: 4px; height: 0px; position: absolute; right: 50%; transform: translateX(50%) ; top: -55px; background: #007ac3; transition: .6s;}
.onehoon strong:hover ~ .onehoon_txt::after {height: 55px;} */
.onehoon strong:hover ~ .onehoon_txt {margin: -5px auto;}
.onehoon strong:hover {border: 0; width: 108px; height: 108px; border-radius: 54px; line-height: 108px; background: linear-gradient(45deg, #006caa, #009fa5); color: #FFF;}

/* 미션 */
.mission {width: 100%; height: 400px;  border: 1px solid;}
.mission strong {display: inline-block; width: 200px; height: 100px;  line-height: 100px; border: 4px solid #007ac3; font-size: 30px; margin: 100px 0 50px 0;  font-weight: normal; color: #555; position: relative; }
.mission .mission_txt {width: 700px; height: 60px;  margin: 0 auto; border: 1px solid; position: relative; transition: .3s;}
.mission .mission_txt p { color: #555; font-size: 28px; line-height: 60px; border-bottom: 4px solid #007ac3;}
.mission strong:hover ~ .mission_txt {margin: -5px auto;}
.mission strong:hover {border: 0; width: 204px; height: 104px; line-height: 104px; background: linear-gradient(45deg, #006caa, #009fa5); color: #FFF;}

/* 비전 */
.vision {width: 100%; height: 800px;  border: 1px solid;}
.vision strong {display: inline-block; width: 200px; height: 100px;  line-height: 100px; border: 4px solid #007ac3; font-size: 30px; margin: 100px 0 50px 0;  font-weight: normal; color: #555; position: relative; }
.vision .vision_txt {width: 700px; height: 60px;  margin: 0 auto; border: 1px solid; position: relative; transition: .3s;}
.vision .vision_txt p { color: #555; font-size: 28px; line-height: 60px; border-bottom: 4px solid #007ac3;}
.vision strong:hover ~ .vision_txt {margin: -5px auto;}
.vision strong:hover {border: 0; width: 204px; height: 104px; line-height: 104px; background: linear-gradient(45deg, #006caa, #009fa5); color: #FFF;}



#visual_sub {width: 100%; height: 300px; min-width: 1200px; background: url("../images/visual2.jpg") no-repeat center top;}
.login_box {width: 1200px; height: 1200px; margin-top: 60px;}